import React from "react";

import "./{{ properCase name }}.scss";

const {{ properCase name }} = ({}: Props) => {
  return (
    <div className="{{ lowerCase name }}"></div>
  );
};

export interface Props {
  //
}

{{ properCase name }}.defaultProps = {

};

export default {{ properCase name }};
